.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.advisor-fieldset {
height: 120px;
width: 600px;
margin: 0;
background-color: #f0f0f0;
border: solid;
border-width: 2px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
}


 

  .profile {
    margin-right: 20px; /* Adjust the margin between profile pictures */
    position: relative;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  }

 .speech-bubble {
visibility: hidden;
opacity: 0;
position: absolute;
background-color: #333;
color: #fff;
padding: 10px;
border-radius: 20px;
width: 250px;
left: 50%; /* Center the speech bubble horizontally */
transform: translateX(-50%); /* Adjust the transform property to center horizontally */
transition: opacity 0.3s ease-in-out;
z-index: 2; /* Set a higher z-index to appear on top */
top: 120%; /* Position the speech bubble above the profile picture */
padding-top: 20px;
padding-bottom: 15px;
}

.speech-bubble::before {
content: '';
position: absolute;
top: -20px; /* Adjust the distance of the tail from the top of the speech bubble */
left: 45%;
border-width: 10px;
border-style: solid;
border-color: transparent transparent #333 transparent; /* Set the color of the tail */
transform: translateX(-50%);
transform: rotate(90deg); /* Rotate the element 45 degrees */
}



  .speech-bubble.show {
    visibility: visible;
    opacity: 1;
  }

  .profile.active .speech-bubble {
    visibility: visible;
    opacity: 1;
  }

  .profile-picture:hover {
    transform: scale(1.1); /* Increase the size slightly on hover */
    box-shadow: 0 0 20px rgba(165, 42, 42, 0.7); /* Add a glowing effect on hover */
  }

.profile img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    object-position: top; /* Display the top part of the image */
  }


.profile1 .profile-picture {
border: 3px solid #001F3F; 

&:hover {
    box-shadow: 0 0 20px rgba(0, 31, 63, 0.7);
}
}

.profile2 .profile-picture {
border: 3px solid #800020; 

&:hover {
    box-shadow: 0 0 20px rgba(128, 0, 32, 0.7);
}
}

.profile3 .profile-picture {
border: 3px solid #B8860B; 

&:hover {
    box-shadow: 0 0 20px rgba(184, 134, 11, 1);
}
}

.profile4 .profile-picture {
border: 3px solid #000000; 

&:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
}

.profile1 .speech-bubble {
background-color: #001F3F; 

&::before {
    border-color: transparent #001F3F transparent transparent; 
  }
}

.profile2 .speech-bubble {
background-color: #800020; 

&::before {
    border-color: transparent #800020 transparent transparent; 
  }
}

.profile3 .speech-bubble {
background-color: #B8860B; 

&::before {
    border-color: transparent #B8860B transparent transparent; 
  }
}


.profile4 .speech-bubble {
background-color: #000000; 

&::before {
    border-color: transparent #000000 transparent transparent; 
  }
}


.advisorbadge {
position: absolute;
top: 0px; /* Adjust the top position of the badge */
right: 2px; /* Adjust the right position of the badge */
width: 30px;
height: 30px;
background-color: red; /* Choose the background color for the badge */
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: white;
font-weight: bold;
font-size: 20px; /* Adjust the font size of the exclamation mark */
z-index: 1; /* Ensure the badge is displayed on top of the profile picture */
overflow: visible; /* Add this line to prevent the badge from being cut off */
}


hr {
border: none; /* Remove the default border */
height: 1px; /* Set the height/thickness of the line */
background-color: #fff; /* Set the color of the line */
}