/* FEDCHAIRSIM v5.0 - 21/12/2023 */

.displayno {
    display: none;
}



  .politicalmemo {
    color: #F00015;
  }

  #goldbutton {
    background-color: gold;
  }

  #goldbutton:hover{
    background-color: goldenrod;
  }


    body {
      background-image: url('background01.PNG'); /* Replace 'your-image-url.jpg' with the actual URL or path to your image file */
      background-size: cover; /* This property ensures that the background image covers the entire viewport */
      background-repeat: no-repeat; /* Prevent the background image from repeating */
      background-attachment: fixed; /* Keeps the background image fixed while scrolling */
      }
  
  
  @media only screen and (max-width: 767px) {
    body {
      background: none;
    }
  }